.form-wrapper{
   h4{
      font-family: $montbold;
      font-size: 18px;
      color: #202330;
      line-height: 25px;
   }
   textarea{
      border: solid 1px #9799A0 !important;
      height: 260px;
      &::placeholder{
         font-family: "montregular" !important;
         font-size: 16px !important;
         color: #84868D !important;
         padding-top: 22px;
         padding-left: 10px;
         padding-right: 10px;
         width: 100%;
      }
      &:focus{
         border-color: #9799A0 !important;
      }
   }
   
}

.save{
   margin-top: 20px;
}
.modal{
   button{
      &:nth-child(2){
         margin-top: 0;
      }
   }
}