.select-competition {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    span {

        padding-bottom: 18px;
    }
    label {
        padding-bottom: 10px;
    }
}
.upload-document {
    padding-top: 30px;
}

.documents {
    display: flex;
    margin-top: 20px;
    .doc-one {
        width: 100%;
        max-width: 250px;
        height: 245px;
        border: solid #9799A0 1px;
        margin-right: 15px;
        padding: 25px;
        .file-field{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 20px;
            .file-path-wrapper{
                height: 35px !important;
                border: none !important;
                input{
                    border: none !important;
                    height: 40px !important;
                }
            }
        }
        .box-title {
            font-family: $montRegular;
            font-size: 18px;
            color: #202330;
            line-height: 30px;

        }
        .format {
            font-family: $montRegular;
            color: #84868D;
            font-size: 15px;
            line-height: 20px;
            padding-top: 10px;
        }
        .m-size {
            @extend .format;
        }
        button {
            margin-top: 25px;
        }
    }
    .doc-two {
        @extend .doc-one;
    }
}
.agreement {
    padding-top: 20px;
}

.modal-content {
    h4 {
        font-family: $montbold;
        font-size: 30px;
        color: #202330;
        letter-spacing: -0.6px;
        line-height: 30px;
    }
    p {
        font-family: $montRegular;
        font-size: 15px;
        color: #202330;
        line-height: 23px;
        padding: 10px 0;
    }
    .close-btn {
        display: flex;
        justify-content: flex-end;
        img {
            cursor: pointer;
        }
    }
}
.submit-button {
    padding-top: 30px;
    margin-bottom: 120px;
}

.tearm{
   font-size: 15px;
   color: #004C98;
}

#modal12 {
    width: 100%;
    max-width: 600px;
    padding-bottom: 40px;
    padding-top: 20px;
    .con-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        button{
           margin-right: 5px;
        }
    }
}
