h1{
  font-family: $montSemibold;
  font-size: 50px;
  color: #202330;
  letter-spacing: -1px;
 padding-bottom: 16px;
  margin: 0;
}
h2{
  font-family: $montSemibold;
  font-size: 30px;
  color: #202330;
  line-height: 35px;
  letter-spacing: -0.6px;
  margin: 0;
}
a{
  &:visited{
    color: #000;
  }
}
p{
  font-family: $montRegular;
  font-size: 18px;
  color: #202330;
  line-height: 30px;
  margin: 0;
}

// color 
.msg-head{
  color: #7FC95F;
}
.bold-color{
  font-family: $montbold;
}
// color end

.main-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
#sidebar{
  width: 100%;
  max-width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
  border-right: solid 1px #DBDBDB;
}
#main-section{
  margin-left: 150px;
  width: 100%;
}

.help-label{
  font-family: $montbold;
  font-size: 18px;
  color: #202330;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-wrapper{
  width: 100%;
  padding-left: 50px;
  @media(max-width: 800px){
    overflow-x: auto;
  }
  @media(max-width: 1024px){
    padding-right: 25px;
  }
}
.full-contact-container{
  width: 100%;
  max-width: 960px;
  @media(max-width: 1024px){
    min-width: 960px;
    overflow-x: scroll;
  }
}
.full-contact-container-second{
  width: 100%;
  max-width: 1100px;
  @media(max-width: 1024px){
    min-width: 1024px;
    overflow-x: scroll;
  }
}
.full-contact-container-three{
  width: 100%;
  max-width: 1600px;
  @media(max-width: 1024px){
    min-width: 1024px;
    overflow-x: scroll;
  }
}


// register 
.wrap-input-ele{
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  .lft-sec{
    flex: 1;
    margin-right: 15px;
    .input-field{
      margin-top: 25px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
}
// register end
.bottom-part{
  @extend .main-wrapper;
}

.input-cover{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .input-field{
    margin-right: 15px;
  }
}

.inner-wrapper{
  padding-top: 60px;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
}

// spacing 
.spacer{
  padding-top: 55px;
}
.divider{
  margin: 30px 0;
}
// spacing end

.title-label{
  font-family: $montbold;
  font-size: 18px;
  color: #202330;
  line-height: 20px;
}

.label-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.social-media{
  .text-ani-inner{
    img{
      max-width: 25px;
    }
  }
}

.comp-name{
  font-size: 16px !important;
}