.head-title{
   padding-bottom: 50px;
 h2{
  padding-bottom: 21px;
 }
}

.back-section{
   cursor: pointer;
   span{
      font-family: $montSemibold;
      font-size: 20px;
      color: #202330;
      line-height: 50px;
   }
}