#sidebar{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;

  .logo-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img{
      padding-bottom: 24px;
    }
    span{
      text-align: center;
      font-family: $montSemibold;
      font-size: 13px;
      color: #202330;
      line-height: 15px;
      padding: 0 1rem;
      letter-spacing: 0.87px;
      &:last-child{
        letter-spacing: 1.3px;
      }

    }
  }
  .page-link{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    width: 100%;
    padding: 0 34px;
    ul{
      li{
        border-bottom: solid 1px #DBDBDB;
        padding: 10px 0;
        &:last-child{
          border: none;
        }
        a{
          font-family: $montbold;
          font-size: 13px;
          color: #004C98;
         
        }
        .active{
          color: #202330;
        }
      }
    }
  }
}